*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: "digital-clock-font";
    src: url("../font/digital-clock-font");
}
.page-container{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}
.page-wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 90vw;
    display: flex;
    align-items: center;
    height: 500px;
    background: rgba(0, 0, 0, 0.1) url('./img/countd.jpg');
    background-size: cover;
    justify-content: space-around;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* object-fit: cover; */
}
.page-wrapper input{
    padding: 1rem;
    border: unset;
    border-radius: 8px;
}
.page-wrapper ul{
    display: flex;
}
.page-wrapper ul li{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    width: 4.5rem;
    height: 4.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    position: relative;
    place-items: center;
    border: 3px solid #fff;
}
